<div class='header'>
  <h5 class='nav-item right'>welcome, <%= current_user.name %></h5>
  <a id="gear" class='nav-item right gear'>⚙</a>
  <div id="search-container" class=" nav-item right search-bar">
    <div id="search">
    </div>
    <div id="wait">
    </div>
  </div>
  <h1 class="logo left fatface"> Twenty Films </h1>
</div>

<div id="results" class="results">
</div>

<div id="utilities" class="utilities center">
  <ul>
  <li><a href="#/user/edit" class="edit_user">edit user</a></li>
  <li><%= link_to 'logout', session_url, :method => :delete %></li>
</div>

<div id="film-new">
</div>

<div class='container'>

  <div class='five columns'>
    <div id="film-list">
    </div>
  </div>

  <div class='five columns'>
    <div id="followings">
    </div>
  </div>



</div>
  <div id="film-show">
  </div>

  <div id="user-show">
  </div>

  <div id="user-edit">
  </div>

<script type="text/json" id="users_bootstrap">
  <%= render('root/launch.json.rabl', :locals => { :users => @users }) %>
</script>

<script type="text" id="current_user_id_bootstrap">
  <%= current_user.id %>
</script>

<script type="text" id='tmdb_api_key_bootstrap'>
  <%= ENV["TMDB_API_KEY"] %>
</script>

<script type="text/javascript">
  $(function() {
    $('#film-new').hide();
    $('#film-show').hide();
    $('#utilities').hide(); 
    $('#gear').on('click', function() {
      $('#utilities').slideToggle('fast');
    });
    TwentyFilms.initialize();
  });
</script>
