<div class='welcome-background'>
<button id="button" class="sign-in" type="button">create new account</button>

<div class="welcome-container container">
  <h1 class='title fatface center'>Twenty Films</h1>

  <% if flash[:notices] %>
    <% flash[:notices].each do |message| %>

      <div class="flash two columns">
        <p><%= message %></p>
      </div>

   <% end %>
  <% end %>
  <div class="sign-in-container container ten columns offset-by-three">
    <%= render :partial => 'root/user_form' %>

    <div class="fb-button">
       <%= button_to "Sign in with facebook",
                 "/auth/facebook", id: "sign_in", :method => :get %>
    <div>
  </div>
</div>

<script type="text/javascript">
  $('.signup').hide();
  if (document.URL.slice(-5, -1) == "user") {
    $('#sign-in-header').html('Sign Up');
    $('.signup').show();
    $('.form').attr('action', '<%= users_url %>');
    $('#user_username').attr('placeholder', '');
    $('#button').html('log in');
    $('#button').removeClass();
    $('#button').addClass('new-user');
  }
  $(function() {
    $('#button').on('click', function () {
      if ($('#button').attr('class') == 'sign-in') {
        $('#sign-in-header').html('Sign Up')
        $('.signup').fadeIn('slow');
        $('.form').attr('action', '<%= users_url %>');
        $('#user_username').attr('placeholder', '');
        $('#button').html('log in');
        $('#button').removeClass();
        $('#button').addClass('new-user');
      } else {
        $('#sign-in-header').html('Sign In')
        $('.signup').fadeOut('slow', function () {
          $('#user_username').attr('placeholder', 'or email');
        });
        $('.form').attr('action', '<%= session_url %>');
        $('#button').html('create new account');
        $('#button').removeClass();
        $('#button').addClass('sign-in');
      }
    });
  });
</script>
